  <div class="col s12">
    <h2 class="header">{{post.title}}</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-action">
          <a href="single-post.html">View Full Post</a>
        </div>
      </div>
    </div>
  </div>