<div class="container">
     <h2 class="text-center">Welcome to the blog!</h2>
     <h3>Hot Posts: </h3>
     <div class="row">
          {{#each posts}}
          {{> post-card}}
          {{/each}}
     </div>
</div>